@import '../../styles/general';

.adistec-feedback-button{
  position: fixed;
  right: 30px;
  bottom: 24px;

  &>div{
    @include border_radius(50px);
    background-color:transparent !important;
    min-width:20px !important;
    overflow: hidden !important;
    width: 36px !important;

    @include transitionSlow();
  }

  &:hover > div{
    width: unset !important;
  }

  &:hover>div>button>div>div{
    background-color:#73ae77 !important;
  }

  button{
    @include border_radius(50px);

    div>div{
      background-color:#73ae77 !important;
      @include border_radius(50px);

      span{
        font-weight:700 !important;
        color:#FFF !important;
        padding-left:6px !important;
        font-size: 0px !important;

        &:before{
          @include fontAwesomeStyles("\F086");
          display: inline-block;
          vertical-align: middle;
          margin: -10px 10px 0px 4px !important;
          font-size:14px !important;
        }
      }
    }
  }

  &:hover button div > div span{
    padding-left:16px !important;
    font-size:14px !important;

    &:before{
      margin: -3px 5px 0px 0px !important;
    }
  }
}
.feedback-dialog{
  text-align: center;
  padding: 15px 10px;
  margin-top: -15px;

  textarea{
    @include border_radius(3px);
    width:250px;
    height:150px;
    font-family: $defaultFontStack;
    font-size: 13px;
    border:solid 1px #DDD;
    padding:10px 13px;
  }

  button{
    @include button_default;
    @include border_radius(50px);
    color:$adistecBlue;
    display:block;
    border:solid 1px $adistecBlue;
    margin: 0 auto;
    width: 185px;
    margin: 0 auto;
    font-size: 13px;
    margin-top: 15px;
    cursor:pointer;

    &:hover{
      color:$adistecLightBlue;
      border:solid 1px $adistecLightBlue;
    }
  }
  span{
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    margin-top: 10px;
    font-weight: 700;
    color: #999;
    cursor:pointer;

    &:hover{
      color:#666;
    }
  }
}
