@import 'mixins';
@import 'responsive';
@import 'theme_modern';

/* --- VARS --- */
$defaultFontStack : 'Open Sans', Helvetica, Arial, sans-serif;

/* Font Sizes */
$xsmFont : 9px;
$smFont : 12px;
$mdFont : 16px;
$lgFont : 20px;

/* Dimensions */
$headerHeight : 74px;
$footerHeight : 50px;


/* Colors */
$adistecBlue : #005fab; /*0,95,171*/
$adistecLightBlue : #008fcb; /*0,143,203*/
$adistecPaleBlue : lightblue; /*173,216,230*/
$adistecBlueHovered:lighten($adistecBlue,8);

$flatLightBlue: $adistecBlueHovered;
$flatGreen:#2ECC71;
$flatYellow:#f1c40f;
$flatRed: #e74c3c;
$flatOrange:#f39c12;
$flatGrey:#7f8c8d;

$mapOrange : #EDC12C;
$mapGreen : #5da061;

//Margins, Paddings
.mt0{
  margin-top:0px;
}
.mt15{
  margin-top:15px;
}
.mb0{
  margin-bottom:0px !important;
}
.mb15{
  margin-bottom:15px;
}

//General
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html,
html body,
html body div{
  font-family: $defaultFontStack !important;
}

strong{
  font-weight: 700;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align:right !important;
}

.success-modal-body{
  border:solid 1px red;
}

.blue {
  background-color: $adistecBlue !important;
}
.bluefont{
  color: $adistecBlue;
}

.btn-flat {
  color: $adistecBlue !important;
}

.static-input-label{
  color: #999999;
  font-size: $smFont;
  margin-top: 10px;
  display: block;
}


@media only screen and (min-width: 0) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

ul{
  padding-left:0px;
}
ul, ul li{
  list-style-type:none;
}


/* --- UI --- */
a{
  color:$adistecLightBlue;
}


/* Sticky footer */
html, body, #app {
  height: 100%;
}
.appWrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#main-wrapper{
  flex: 1;
  background-color:#F5F5F5;
  min-height: 100%;
  margin-bottom: 0-$footerHeight;
}


main{
  overflow-y: auto;
}

.main-wrapper:after {
  content: "";
  display: block;
}



//Title
.section-title-container{
  height:70px;

  &.has-side{
    .section-title{
      float:left;
    }
    .title-side{
      float:right;
      padding: 6px 0px;

      em{
        font-style:normal;
        margin-right:10px;
      }

      .search-box{
        margin-top:10px;
      }
    }
  }

  background-color: #EEEEEE;
  width:100%;

  .container{

    h4{
      color:#666666;
      font-size:20px;
      font-weight: 500;
      text-transform: uppercase;
      padding-top: 8px;
    }
    .section-title-buttons{
      float:right;
      text-align: right;
      padding-top: 16px;

      &.hidden{
        display:none;
      }
    }

    .open-drawer{
      border:none;
      background-color: transparent;
      padding-top: 8px;

      i{
        padding-top: 7px;
        color:#666;
      }
    }

    h4,
    .section-title-buttons,
    button{
      display: inline-block;
      vertical-align: middle;

      @include sm-only{
        width:100%;
      }

    }

  }
}

//Buttons
@mixin button_default{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  padding:7px 15px;
}

@mixin buttonSizeSm{
  font-size: 13px;
  padding: 3px 10px;
}


button{
  border:none;
  background-color: transparent;
  font-family: inherit;
  cursor:pointer;
}
.text-button{
  color:$adistecBlue;
  text-transform: uppercase;
  font-weight: 600;

  &:hover{
    color:lighten($adistecBlue,12)
  }
  &.block{
    display:block;
    text-align:center;
    width: 100%;
  }

  &.viewless{
    font-weight:300;
    margin-right: 10px;
  }
}

.btn-standard{
  @include button_default;
  color:$adistecBlue;
}
.btn-coloredbg{
  @include button_default;
  background-color:$adistecBlue;
  color:#FFF;
  @include border_radius(50px);
  border: solid 2px #005fab;

  &.sm{
    @include buttonSizeSm;
  }

  &:hover{
    background-color:$adistecBlueHovered;
    border-color:$adistecBlueHovered;
  }

  &.busy{
    background-color:#999999;
    color:#FFFFFF;
    cursor:default;

    .fa{
      display:none;
    }
  }

  &.btn-green{
    background-color: $mapGreen;
    border-color: $mapGreen;

    &:hover{
      background-color: lighten($mapGreen, 10);
      border-color: lighten($mapGreen, 10);
    }
  }
}
.btn-coloredborder{
  @include button_default;
  color:$adistecBlue;
  @include border_radius(50px);
  border: solid 2px #005fab;
  @include buttonSizeSm;

  &:hover{
    border-color:$adistecLightBlue;
    color:$adistecLightBlue;
  }

  &.btn-green{
    background-color: transparent;
    border-color: $mapGreen;
    color: $mapGreen;

    &:hover{
      border-color: lighten($mapGreen, 10);
      color: lighten($mapGreen, 10);
    }
  }
}


//Containers
.form-field-container{
  margin: 10px 0px;

  input,
  textarea{
    border: none;
    padding: 7px 0px;
    border-bottom: solid 1px #DDD;
    width: 100%;
    font-family: inherit;
  }

  textarea{
    border: solid 1px #DDD;
    padding:7px;
    @include border_radius(3px);
    margin-top:-5px;
    min-height:200px;
  }
}

.panel-container{
  @include card_styled(#FFFFFF);
  float:left;
  width: 100%;
  padding: 15px 10px;

  &+&{
    margin-top:20px;
  }

  .panel-title-container{
    .title{
      font-size: $smFont;
      text-transform: uppercase;
      font-weight: 700;
      color: #666;

      @include md{
        //width:70%;
        font-size: $mdFont;
      }
    }

    .sidenote{
      float: right;
      font-size: $smFont;
      text-transform: uppercase;
      color: #999;

      @include md{
        //width:25%;
        font-size: $mdFont;
        text-align:right;
      }
    }

    .notice{
      display: block;
      margin: 15px 0px 10px 0px;
      color: #008fcb;
      @include border_radius(3px);
      font-size: $mdFont;
      font-weight: 700;
    }
  }
}


*, *:before, *:after {
  box-sizing: border-box !important;
}


//Empty List in Table
.empty-list-message{
  text-align: center;
  color: #999;
  border: solid 1px #E5E5E5;
  border-radius: 3px;
  padding: 25px 25px 15px 25px;

  h3{
    margin:0px;
  }

  .fa-search{
    padding-bottom:15px;
    font-size: 24px;
  }
}

.adistec-date-picker>label+input+div+div {
  font-size: 10px!important;
  bottom: 0!important;
}

/* Layout Utilities */
.a-padding_30{
  padding:30px;
}
.a-padding--top_0{
  padding-top:0px;
}
.a-padding--bottom_lg{
  padding-bottom:90px;
}
.a-margin--bottom_0{
  margin-bottom:0px;
}
.a-margin--top_md{
  margin-top:30px;
}
.a-move--moveup_md{
  transform: translateY(-65px);
}

ul.a-list--columns_2{
  li{
    width:50%;
    display:inline-block !important;
  }
}


.bottom-buttons-container{
  margin-bottom: 25px;

  &.center{
    &>div{
      display:inline-block;
    }
  }

  &.stacked{
    float:left;
    width:100%;
    margin-top: 10px;

    button, a{
      display:block;
      width:100%;
      margin-top: 5px;
    }
  }

  .pill{
    border-radius: 100px !important;
    overflow: hidden;

    button{
      span{
        text-transform:none;
      }
    }
  }

  .large{
    button{
      height:auto !important;

      div{
        div{
          height:auto !important;
          padding: 10px 20px !important;

          span{
            font-size:22px !important;
            font-weight: 600 !important;
            text-transform: none;
          }
        }
      }
    }
  }

  .submit button{
    background-color: $flatGreen !important;

    &:hover{
      background-color: lighten($flatGreen, 2) !important;
    }
  }
}

.a-card{
  @include card_styled(#FFFFFF);
  width: 100%;
  padding: 15px 10px;
}