@import '../../styles/general';

.success-modal-body{
  border:solid 1px red;
}

h4{
  font-size:1.5rem;
  font-weight: 700;
  color: $adistecBlue;
  padding: 0px;

  &.section-title{
    padding:10px 0px;
    text-transform: uppercase;
  }
}