@import '../../styles/general';

header{
  /*height: 50px;*/
  background-color:$adistecBlue;

  &.header-light{
    background-color: #FFF;

    .menu-icon{
      svg{
        color:#999 !important;
      }
    }
  }

  a>img{
    max-height: 100% !important;
  }

  .brand-logo{
    padding-top: 6px;

    img{

      @include sm-only(){
        width: 210px;
        padding: 17px 0px;
      }
    }
  }

  button#account-header {
  overflow: visible !important;
  text-align: right !important;
  line-height: 20px !important;
  background-color: transparent !important;

    &>div>span{
      padding-right: 35px !important;
    }
    &>div>span + div{
      margin-right: 0px !important;
    }

    strong {
      font-size: $smFont;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.75);
      padding-right: 10px;
    }

    i.material-icons{
      float: right;
      margin-top: -12px;
    }
  }

  .floating-dropdown-menu{
  position: absolute;
  background-color: #FAFAFA;
  margin-top: 15px;
  display:none;
  z-index: 9;

  *{
    @include noselecthighlight;
  }

  ul,
  ul li{
    padding:0px;
    margin:0px;
  }

  li{

    &:not(:first-child){
      border-top:solid 1px #DDDDDD;
    }

    a,
    span[class]{
      display:block;
      padding:15px 20px;
    }

    .logoutbutton{
      background-color:#FFFFFF;

      &:hover{
        color:$adistecBlue;
      }
    }

    i,
    i + span{
      vertical-align: middle;
    }
  }

  &:before {
    content: "";
    position: absolute;
    bottom:100%;
    right:10px;
    @include triangleUp(7px, #FAFAFA);
  }

  &.right{
    float:none;
    right: 4px;
  }
}

  .dashboard-button{
    float: right;
    position: relative;
    margin-top: 4px;
    padding-right: 20px;

    &:before{
      content: "";
      position: absolute;
      right: 10px;
      border-left: solid 1px rgba(0,0,0,0.2);
      height: 36px;
      top: 0px;
    }

    a{
      color: #FAFAFA !important;
      padding: 6px 16px 6px 11px;
      display: block;

      &:hover{
        /*background-color: rgba(153,153,153,0.2);*/
      }

      span{
        font-size: 17px;
      }

      span,
      i{
        vertical-align: middle;
      }
    }

    .cssTooltip{
      position: absolute;
      text-align: center;
      border-radius: 2px;
      background-color: rgb(97, 97, 97);
      font-size: 10px;
      line-height: 22px;
      padding: 1px 8px;
      opacity: 0;
      transition: top 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      box-sizing: border-box;
      transform: translate(0px, 0px);
      white-space: nowrap;
      margin-left: -51px;
      left: 50%;
    }
    &:hover .cssTooltip{
      opacity: 0.9;
      transform: translate(0px, 14px);
    }
  }
}